<div class="container mt-5">
  <div class="text-end">
    <button (click)="onLogout()" class="btn btn-danger">Cerrar sesión</button>
  </div>
  <h2 class="text-center mb-4">CRUD Dashboard</h2>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CRUD Entidad</h5>
          <p class="card-text">Administra las entidades de tu sistema.</p>
          <div class="text-center">
            <a routerLink="/crud-entidad" class="btn btn-primary">Ir al CRUD</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CRUD Tipo Documento</h5>
          <p class="card-text">Administra los tipos de documento.</p>
          <div class="text-center">
            <a routerLink="/crud-tipo-documento" class="btn btn-primary">Ir al CRUD</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CRUD Tipo Contribuyente</h5>
          <p class="card-text">Administra los tipos de contribuyente.</p>
          <div class="text-center">
            <a routerLink="/crud-tipo-contribuyente" class="btn btn-primary">Ir al CRUD</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>