.userSignUpForm{
    padding-left: 30%;
    padding-right: 30%;
    margin: auto;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
    color: black;
  }
  
  button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
  }